<h1>All The Songs in Our Hub</h1>
<a href="/logout" data-method="post">Logout</a>
<table class="striped centered">
  <thead>
    <th>Artist</th>
    <th>Song Title</th>
    <th>Number Of Times Song Has Been Added</th>
    <th>Add to Playlist</th>
  </head>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.artist %></td>
        <td><a href="/songs/<%= song.id %>"><%= song.title %></a></td>
        <td><%= @counts[song.id] %></td>
        <td><a href="/playlists/<%= song.id %>" data-method="post">Add</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>
<form method="post" action="/songs/create">
  <h3>Add a Song</h3>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">  
  <label for="title">Song Title</label>
  <input type="text" name="title">
  <label for="artist">Artist</label>
  <input type="text" name="artist">
  <input type="submit" value="Create Song">
</form>